@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: hsl(175, 73%, 29%);
}

@import 'navbar';
@import 'hero';